body {
	background-image: url('https://i.imgur.com/z9JWZho.jpg');
}

h1 {
	color: white;
}

ul {
	color: black;
	list-style-type: none;
}

.content {
	font-family: Times New Roman;
}

.nav {
	width: 200px;
	height: 323px;
	font-family: Verdana;
	font-size: 1.8em;
}

.page {
	background-color: white;
	width: 800px;
}

.photo {
	width: 600px;
	height: 323px;
	float: left;
}